@import '../../styles/fonts';

.cell {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 2px #000;
	cursor: pointer;
	user-select: none;
	@include font-regular(26px);
}
