@import '../../../styles/fonts';

.statistics {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__win {
		@include font-bold(26px);
		color: yellow;
	}

	&__lose {
		@include font-bold(26px);
		color: red;
	}

	&__prop-name {
		@include font-regular(16px);
		color: white;
	}

	&__prop-value {
		@include font-regular(26px);
		color: white;
	}
}
