@mixin font-family {
	font-family: 'Play', sans-serif;
}

@mixin font-regular($font-size) {
	@include font-family;
	font-size: $font-size;
	font-weight: 400;
}

@mixin font-bold($font-size) {
	@include font-family;
	font-size: $font-size;
	font-weight: 700;
}
